doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.bundle.css')
    script(type="text/javascript" src="/javascripts/application.bundle.js")

  body
    block content
